
img {
  max-width: 100%;
  
}

ul,
li {
  list-style: none;
  padding: 0;
}

/*--------------------------------
 文字
---------------------------------*/
.heading-primary {
  font-family: 'Pacifico', cursive;
  font-weight: 900;
  font-size: 36px;
  line-height: 1;
  display: inline-block;
  letter-spacing: .1em;
  color:rgb(255, 255, 255);
  margin-bottom: 30px;
}

.section-heading {
  margin-bottom: 10px;
  text-align: center;
}



/*--------------------------------
 レイアウト
---------------------------------*/

.wrapper {
  background-color: #fff;
  color:rgb(33,210,244);
}

.section {
  padding: 120px 0;
}

.inner {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 40px;
}

.content {
  margin-top: 100px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
* {
  margin: 0;
}

:root {
  --primary-050: #FF6D00; /* サンプル */
  --secondary-050: #ffe604; /* サンプル */
  --dark-087: rgba(0,0,0,0.87);
  --dark-054: rgba(0,0,0,0.54);
  --dark-026: rgba(255, 255, 255, 0.26);
  --dark-012: rgba(255, 255, 255, 0.12);
  --light-100: rgba(255,255,255,1.00);
  --light-070: rgba(255,255,255,0.70);
  --light-030: rgba(255,255,255,0.30);
  --light-012: rgba(255,255,255,0.12);
  --gray-010: #f1f1f1;
  --gray-020: #e4e4e4;

  font-family: 'Pacifico', cursive;
  font-feature-settings: "palt";
  font-size: 16pt;
}
/*portforio*/
.global-nav h1 {
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
  margin-left: 1rem;
  color: rgb(110, 110, 110);
}


/* 以降追記 */
.global-nav {
  position: fixed; /* 固定 */
  top: 0;
  left: 0;
  width: 100%;   /* 幅調整 */

  display: flex;
  align-items: center;
  /* 子要素の間を開けて端っこピッタリ */
  justify-content: space-between;

  /* 背景設定しないとナビゲーションの背景が透明のまま */
  background-color: #1C0A00;

  box-shadow: 0 7px 2rem var(--dark-026);
}


.global-nav .menu ul {
  list-style: none;  /* 点を消す */
  display: flex;
  align-items: center;
}

.global-nav .menu ul a {
  color: var(--primary-050);
  text-decoration: none;  /* 文字下線消す */

  display: inline-block;   /* 画像と同じ扱いにする */
  line-height: 1;  /* 文字高さを1としておくことで無駄な余白がない */
  font-size: 1.125rem;
  padding: calc(1.25rem - 4px) 2rem;
  transition: color,background-color 0.3s;
  border-right: 5px solid var(--dark-012);
  border-top: 4px solid transparent; 
  border-bottom: 4px solid transparent; 
}
.global-nav .menu ul li:last-child a {
  border-right: none;
}

/* マウスカーソルが乗っかった時 */
.global-nav .menu ul a:hover {
  background-color: var(--primary-050);
  color: var(--secondary-050);
  border-bottom: 4px solid var(--secondary-050);
}




/*--------------------------------
グローバルナビ
---------------------------------*/
.gnav {
  z-index: 1;
  font-family: "Cormorant Garamond", serif;
  padding: 10px;
  
}

.gnav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.gnav-item {
  padding: 0 30px;

}

.gnav-link {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: lowercase;
  color: #333;
  
}
#about-section{
  background: linear-gradient(#333149, #0E0C1A );
}

/*--------------------------------
 Works
---------------------------------*/

.works-list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -100px;
}

.works-item {
  flex: 0 0 32.31552%;
  margin-right: 1.52671%;
  margin-bottom: 40spx;
}

.works-item:nth-of-type(5n) {
  margin-right: 0;
}

.works-body {
  text-align: center;
}

.works-title {
  font-size: 20px;
  margin-top: 15px;
  color:rgb(33,210,244);
}

.works-text {
  font-weight: bold;
  font-size: 25px;
  color:rgb(33,210,244);
}
#works-section {
  background: radial-gradient(#333149, #0E0C1A);
}



/*--------------------------------
 About
---------------------------------*/
.about-section {
  text-align: center;
}
.about-section .inner {
  max-width: 1000px;
}

.about-item {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
 
}

.about-image-wrapper {
  flex: 0 0 25%;
  margin-right: 50px;
}

.about-body {

line-height: 3;
}


.about-body p:not(:last-child) {
  margin-bottom: 20px;
}
.about-image {
  width:  250px;       /* ※縦横を同値に */
  height: 250px;       /* ※縦横を同値に */
  border-radius: 50%; /* 角丸を50%で指定することで正方形の画像は円にくり抜かれる */
}


/*--------------------------------
 Skill
---------------------------------*/
.skill-section .inner {
  
  max-width: 800px;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}

.skill-item {
  display: flex;
  flex: 0 0 45%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.skill-image-wrapper {
  flex: 0 0 60px;
  margin-right: 20px;
}

.skill-body {
  flex: 1;
}

.skill-body p:not(:last-child) {
  margin-bottom: 20px;
}

.skill-title {
  margin-bottom: 3px;
  color:rgb(33,210,244);
}



.skill-color {
  color: yellow;
}

#skill-section{
  background: radial-gradient(#0E0C1A, #333149);
}

/*--------------------------------
 Contact
---------------------------------*/
.contact-list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.contact-item {
  width: 100px;
  margin: 0 20px;
  text-align: center;
}

.contact-name {
  font-size: 16px;
  display: block;
  margin-top: 5px;
  color:rgb(33,210,244);
}

.contact-image {
  width:  100px;       /* ※縦横を同値に */
  height: 100px;       /* ※縦横を同値に */
  border-radius: 50%; /* 角丸を50%で指定することで正方形の画像は円にくり抜かれる */
}


.contact-text {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

#contact-section{
  background: radial-gradient(#333149, #0E0C1A);
 
}

/*--------------------------------
 Footer
---------------------------------*/
.footer {
  background: black;
}

.footer .inner {
  padding: 30px;
}

.copyright {
  font-size: 18px;
  text-align: center;
  color: #8c8c8c;
}

